<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 ></br> {{ site.title }} </h2>
	    <h4></br> {{ site.tagline }} </h4>

	    <h5>&nbsp;</h5>
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              <!-- <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt=""> -->
            </a>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
