<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="EN">

  {% include head.html %} 

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% if site.show_fork  %}
    <a class="github-fork-ribbon left-top" href="http://github.com/{{ site.owner_name}}/{{ site.lib_name }}" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
    {% endif %}
	 
    {%  include navigation.html %}

    {% include header.html %}

    {{ content }}


    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
